{{#each items}}
<li class="film">
    <div class="film__poster">
      <img class="film__poster-photo" src= "{{url}}" alt="" />
    </div>
  <div class="film__preview">
    <p class="film__preview-title">
      {{title}} 
    </p>
    <p class="film__preview-info">
      {{genre_ids}} | {{release_date}} 
    </p>
    <p class="film__preview-popularity">
     {{popularity}}
    </p>
  </div>
</li>
{{/each}}