{{#each this}}
<li class="film">
  <div class="film__poster">
    <img class="film__poster-photo" src='https://image.tmdb.org/t/p/w300{{poster_path}}' alt="" data-id='{{id}}' />
  </div>
  <div class="film__preview">
    <h2 class="film__preview-title" data-id='{{id}}'>
      {{title}}
    </h2>
    <p class="film__preview-info" data-id='{{id}}'>
      {{#each genre_ids}} {{name}} {{/each}}| {{release_date}}
    </p>
    <p class="film__preview-popularity">
      {{vote_average}}
    </p>
  </div>
</li>
{{/each}}