{{#each this}}
<li class="film">
  <div class="btn-id">
    <button data-id = '{{id}}' class="btn-youtube"></button>
  </div>
    <div class="film__poster">
      <img data-id = '{{id}}' class="film__poster-photo" src= 'https://image.tmdb.org/t/p/w300{{poster_path}}' alt="" />
    </div>
 
    <h2 class="film__preview-title">
      {{title}} 
    </h2>
    <p class="film__preview-info"> 
      {{#each genre_ids}} {{name}} {{/each}}| {{release_date}}   
      <span class="film__preview-popularity">  {{vote_average}}</span>
    </p>
</li>
{{/each}}