{{#each this}}
<li class="film">
    <div class="film__poster">
      <img data-id = '{{id}}' class="film__poster-photo" src= 'https://image.tmdb.org/t/p/w300{{poster_path}}' alt="" />
    </div>
  <div class="film__preview">
    <p class="film__preview-title">
      {{title}} 
    </p>
    <p class="film__preview-info">
      {{genre_ids}} | {{release_date}} 
    </p>
    <p class="film__preview-popularity">
     {{vote_average}}
    </p>
  </div>
</li>
{{/each}}