{{#each this}}
<div class="modal">
    <div class="modal__poster">
        {{#each image}}
  <img class="modal__poster-photo" src="{{this}}" alt="" />
  {{/each}}
</div>
  <div class="modal__prview">
    <p class="modal__prview-title">
      {{title}} 
    </p>
    <p class="modal__prview-votes">
        Vote / Votes
      {{views}} / {{vote_count}} 
    </p>
    <p class="modal__prview-popularity">
        Popularity
     {{popularity}}
    </p>
     <p class="modal__prview-original-title">
        Original Title
     {{original_title}}
    </p> 
    <p class="modal__prview-genre">
        Genre
           {{#each genres}}
         {{name}} ,
           {{/each}}
    </p>
     <p class="modal__prview-about">
        About 
     {{overview}}
    </p>
  </div>
</div>
{{/each}}